{% extends "ventas/base.html" %}
{% block title %}{{ title }}{% endblock  %}

{% block content %}
    <div class="row">
{% for item in productos %}
    <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="{% url 'ventas:detail' item.slug %}"><img class="card-img-top" src="/media/{{ item.imagen }}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{% url 'ventas:detail' item.slug %}">Curso de {{ item.nombre }}</a>
                  </h4>
                  <h5 class="price">Precio. S/. {{ item.precio|floatformat:"2" }}</h5>
                  <p class="card-text">Powered by {{ item.marca }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a class="btn btn-success btn-block" href="{% url 'ventas:cart_add' item.id %}">Adicionar al Carrito</a></small>
                </div>
              </div>
            </div>
{% empty %}
    <div class="card w-100">
    <div class="card-body">
        <h4>Producto No Disponible</h4>
    </div>
    </div>
{% endfor %}
    </div>

{% endblock %}


{% block header %}



<p><img class="d-block img-fluid" src="/media/{{ only.imagen }}" alt="First slide"></p>
   
{% endblock %}


